//
//  Debug.xcconfig
//  BoynerNews
//
//  Created by Yaman Boztepe on 16.11.2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_KEY = ee39302f2a97490abbd69d073c279505
